#game {
    width: 600px;
    height: 400px;
    margin: auto;
    border-bottom: 3px solid;
    background-image: url("back2.jpg");
    background-size: 100%;
    position: relative;
    animation: gamebackground 30s infinite reverse;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url("dino.png");
    background-size: 100%;
    position: relative;
    top: 350px;
}

#kaktus {
    width: 50px;
    height: 50px;
    background-image: url("kak.png");
    background-size: 100%;
    position: relative;
    top: 300px;
    left: 550px;
    animation: kaktusrun 5s infinite linear;
}

#bird {
    width: 50px;
    height: 50px;
    background-image: url("bird.png");
    background-size: 100%;
    position: relative;
    left: 550px;
    animation: birdfly 50s infinite linear;

}

@keyframes kaktusrun {
    from {
        left: 550px;
    }
    to {
        left: -50px;
    }
}

@keyframes birdfly {
     0% {
        left: 550px;
         top: 0px;
    }
    33% {
        left: 0px;
         top: 130px;
    }
    66% {
        left: 0px;
         top: 75px;
    }
    100% {
        left: -50px;
         top: 0px;
    }
}


.jump {
    animation: dinojump 2s linear;
}

@keyframes dinojump {
    0% {
        top: 350px
    }
    20% {
        top: 250px
    }

    40% {
        top: 200px
    }

    60% {
        top: 250px
    }
    80% {
        top: 300px
    }
    100% {
        top: 350px
    }

}

@keyframes gamebackground {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 600px;
    }
}



